
html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0rem auto;
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}
a{
  color: rgba(122, 122, 122,0.9);
}

/* M E N U */

.menu {
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    width: 100%;
    height: 3.2rem;
    background: rgba(122, 122, 122,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 5.625rem;
    height: 3.2rem;
    top: 0rem;
    left: 0rem;
    color: #fff;
    line-height: 3.2rem;
    font-size: 2rem;
    padding-left: .7rem;
    cursor: pointer;
}
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: .3rem;
    left: 1.25rem;
    font-family: 'Lato';
    font-size: 2rem;
    font-weight: 300;
    color: rgba(255,255,255,1);
    cursor: default;
}
.last{
    position: absolute;
    top: 2rem;
    left: 7rem;
    font-family: 'Lato';
    font-size: .7rem;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 3.2rem 0;
    margin-top: 4rem;
    margin-bottom: .6rem;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 1.25rem;
    text-shadow: .45rem 0rem 0rem #e5e5e5, .38rem 0rem 0rem #e5e5e5, .3rem 0rem 0rem #e5e5e5, .25rem 0rem 0rem #e5e5e5, .2rem 0rem 0rem #e5e5e5, .13rem 0rem 0rem #e5e5e5, .0625rem 0rem 0rem #e5e5e5, .0625rem 0rem 0rem #e5e5e5, 0rem 0rem 0rem #e5e5e5, -.0625rem 0rem 0rem #e5e5e5, -0.125rem 0rem 0rem #e5e5e5, -.19rem 0rem 0rem #e5e5e5, -.25rem 0rem 0rem #e5e5e5, -.31rem 0rem 0rem #e5e5e5, -.38rem 0rem 0rem #e5e5e5, -.44 0rem 0rem #e5e5e5;
    box-shadow: inset 1.25rem 0rem 0rem #e5e5e5, inset -1.25rem 0rem 0rem #e5e5e5, inset 0rem -0.125rem 0rem #d7d7d7;
    line-height: 2.4rem;
    margin-top: .3rem;
    margin-bottom: 1.25rem;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0rem;
    box-shadow: -.0625rem .13rem 0rem #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0rem;
    right: 0rem;
    left: 2.5rem;
    width: 0rem;
    height: 0rem;
    border: .3rem solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0rem;
    box-shadow: .0625rem .13rem 0rem #D4D4D4;
}
.msg {
    background: white;
    min-width: 3.2rem;
    padding: .7rem;
    border-radius: .13rem;
    box-shadow: 0rem .13rem 0rem rgba(0, 0, 0, 0.07);
    max-width: 80%;
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 43.2rem;
    border-radius: .3rem;
    box-shadow: 0rem 0rem .2rem #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: .2rem;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: .75rem;
    width: .75rem;
    max-width: .75rem;
    min-height: .75rem;
    height: .75rem;
    max-height: .75rem;
    background: #e5e5e5;
    box-shadow: inset 0rem 3.2rem 0rem rgba(82,179,217,0.9), inset 0rem -3.25rem 0rem #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 6.25rem;
    border: solid .2rem #e5e5e5;
    box-shadow: inset 0rem 0rem .2rem #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0rem 0rem .2rem #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0rem 0rem .2rem #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 1.7rem;
}

/* T Y P E */

input.textarea {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    width: 100%;
    height: 3.2rem;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: #666;
    font-weight: 400;
}
